{% assign excerpt_len  = 55 %}
{% if page.path contains "en/" %}
    {% assign date-format = "%m.%d.%Y" %}
    {% assign post_arr = site.posts | where: "language", "en" %}
    {% assign feed-title = "Latest Posts" %}
    {% assign readmore = "Read More" %}
{% else %}
    {% assign date-format = "%d.%m.%Y" %}
    {% assign post_arr = site.posts | where: "language", "he" %}
    {% assign feed-title = "פוסטים אחרונים" %}
    {% assign readmore = "קרא עוד" %}
{% endif %}

<section class="blog-feed" role="list">
    <h1>{{ feed-title }}</h1>
    {% for post in post_arr %}
        <article role="listitem">
            <img class="thumbnail" alt="{{ post.featured_image_alt_text }}" src="{{ post.featured_thumbnail | prepend: site.baseurl }}"> 
            <header>
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                <time datetime="{{ post.date }}">{{ post.date | date: date-format }}</time>
            </header>
            <blockquote cite="{{ post.url | prepend: site.baseurl }}">
                <p>
                    {% assign excerpt = post.excerpt | strip_html %}

                    {% if excerpt | truncatewords: excerpt_len | size > excerpt | size %} 
                        {{ excerpt | truncatewords: excerpt_len }}
                    {% else %}
                        {{ excerpt | truncatewords: excerpt_len, "" }}
                    {% endif %}

                    <span><a href="{{ post.url | prepend: site.baseurl }}">{{ readmore }} &raquo;</a></span>
                </p>
            </blockquote>
        </article>
    {% endfor %}
</section>
