.site-header {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: solid 3px var(--clr-primary);
}

.primary-nav {
    padding: var(--padding-070) var(--padding-120);

    & > ul {
        display: flex;
        gap: var(--padding-min);
        justify-content: space-between;
        align-items: baseline;

        & li:has(#logo) {
            flex-basis: 75%;
        }
    }
}

.blog-feed {
    max-width: max(100ch, 600px);
    margin: 0 auto;
    padding: var(--padding-100);

    container: blog-feed / inline-size;


    & > * + article {
        margin-top: calc(#{$base_margin} * 2 ); 
        border-top: solid 1px var(--clr-primary);
   }

    &  blockquote {
        max-width: 60ch;
       text-align: justify; 
       
        & p + p {
            margin-top: calc(#{$base_margin} * .75);
        }
    }

    & > article {
        --grid-width: 1;
        --grid-height: 1;
        --thumbnail-spread: 2;

        display: grid;
        grid-template-rows: min-content min-content repeat(var(--grid-height), 1fr);
        grid-template-columns: repeat(var(--grid-width), 1fr); 
        gap: var(--padding-025);

        padding-top: var(--padding-200);

        & .thumbnail {
            object-fit: cover;
            object-position: 50% 30%;
            aspect-ratio: 16 / 9;
        }

    }

    @container blog-feed (width >= 600px) {
        & > article {
            --grid-width: 5;

            grid-template-rows: min-content repeat(var(--grid-height), 1fr);
            grid-template-columns: repeat(var(--grid-width), 1fr); 
            gap: var(--padding-120);

            & .thumbnail {
                grid-column: 1 / span var(--thumbnail-spread);
                grid-row: 1 / -1;
                object-fit: cover;
                aspect-ratio: 1 / 1;
                object-position: center;
            }

            & > :not(.thumbnail) {
                grid-column: calc(var(--thumbnail-spread) + 1) / spread calc(var(--grid-width) - var(--thumbnail-spread));
            }

            & > *  {
                margin-top: 0;
            }
        }
    }

    @container blog-feed (width >= 700px) {
        & > article {
            --grid-width: 6;
        }
    }
}

.blog-post {
    --max-width: max(55em, 600px);

    max-width: var(--max-width);
    margin-inline: auto;


    & > *:not(img) {
        max-width: calc(100% - var(--padding-100));
        margin-inline: auto;
    } 

    & img:first-of-type {
        max-width: var(--max-width);
        margin-inline: auto;
        object-fit: cover;
        object-position: 50% 25%;
        aspect-ratio: 15 / 10;
    }
}
