.site-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: solid 3px var(--clr-primary);
}

.primary-nav {
    padding: clamp(var(--padding-min), 1vw, var(--padding-max)) clamp(calc(var(--padding-min) * 2), 2vw, calc(var(--padding-max) * 2));
    container-type: inline-size;
    

    & > ul {
        display: grid;
        gap: var(--padding-010);

        --grid-width: 3;
        --grid-height: 2;
        --logo-span: 3;

        grid-template-columns: repeat(var(--grid-width), 1fr);
        grid-template-rows: repeat(var(--grid-height), min-content);

        & li {
            --margin-multiplier: 0;

            margin-top: calc(#{$base-margin} * var(--margin-multiplier));
            justify-self: center;

            & #logo {
                width: 100px; 
            }

        
            &:has(#logo) {
                grid-column: 1 / span var(--logo-span);
            }
        }
    }

    @container (width >= 160px) {
        padding:  var(--padding-100) var(--padding-100);

        & > ul {
            & li {
                --margin-multiplier: var(--flow-margin-multiplier);

                & #logo {
                    width: 150px; 
                }
            }
        }
    }

    @container (width >= 330px) {
        padding:  var(--padding-100) var(--padding-100);

        & > ul {
            & li {
                --margin-multiplier: var(--flow-margin-multiplier);

                & #logo {
                    width: 200px; 
                }
            }
        }
    }

    @container (width >= 550px) {
        & > ul {
            --grid-width: 7; 
            --grid-height: 1;
            --logo-span: 4;

            & li {
                align-self: end; 
                justify-self: end;

                & #logo {
                    width: 200px; 
                }

                &:has(#logo) {
                    justify-self: start;
                }
            }
        }
    }
}

.blog-feed {
    --max-width: 900px;
    --min-width: 98vw;
    --excerpt-width: 75ch;

    padding: clamp(var(--padding-min), 1vw, var(--padding-max));
    width: min(var(--min-width), var(--max-width));
    margin: 0 auto;

    container: blog-feed / inline-size;


    & > * + article {
        margin-top: calc(#{$base_margin} * var(--flow-margin-multiplier)); 
        border-top: solid 1px var(--clr-primary);
   }


    &  blockquote {
        max-width: var(--excerpt-width); 
        text-align: justify; 
       
    }

    & > article {
        --grid-width: 1;
        --grid-height: 1;
        --thumbnail-spread: 2;
        --padding-min: var(--padding-100);

        display: grid;
        grid-template-rows: auto min-content repeat(var(--grid-height), 1fr);
        grid-template-columns: repeat(var(--grid-width), 1fr); 
        gap: var(--padding-025);
        padding-top: clamp(var(--padding-min), 1vw, var(--padding-max));

        & .thumbnail {
            object-fit: cover;
            object-position: 50% 30%;
            aspect-ratio: 16 / 9;
            width: 100%;
        }

        & * + * {
            margin-top: calc(#{$base_margin} * .75);
        }

    }

    @container blog-feed (width >= 700px) {
        & > article {
            --grid-width: 5;

            grid-template-rows: min-content repeat(var(--grid-height), 1fr);
            grid-template-columns: repeat(var(--grid-width), 1fr); 
            gap: var(--padding-120);

            & .thumbnail {
                grid-column: 1 / span var(--thumbnail-spread);
                grid-row: 1 / -1;
                object-fit: cover;
                aspect-ratio: 1 / 1;
                object-position: center;
                align-self: center;
            }

            & > :not(.thumbnail) {
                grid-column: calc(var(--thumbnail-spread) + 1) / spread calc(var(--grid-width) - var(--thumbnail-spread));
            }

            & > *  {
                margin-top: 0;
            }
        }
    }

    @container blog-feed (width >= 850px) {
        & > article {
            --grid-width: 6;
        }
    }
}

.blog-post {
    --max-width: 1000px;
    --min-width: 98%;
    

    width: min(var(--min-width), var(--max-width));
    margin-inline: auto;

    & > *:not(img) {
        max-width: min(98%, 800px);
        margin-inline: auto;
    } 


    & img:first-of-type {
        margin-inline: auto;
        object-fit: cover;
        object-position: 50% 25%;
        aspect-ratio: 15 / 10;
    }
}
