/*
    Lobotomized owl selector courtesy of Heydon Pickering: https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
    Lays the foundation for consistent flow between all elements.
    Appened ':not(dialog)' pseudo-class to match idea from Comeau reset.
*/

* {
    & + &:not(dialog, body) { 
        margin-top: calc(#{$base_margin} * 1.5);
    }
}

body {
    background-color: var(--clr-secondary-lightest);
    display: grid;
    grid-template-rows: auto 1fr auto;
    direction: rtl;
}

header {
    min-height: var(--padding-min); 
}

main {
    --max-width: calc(100% - #{$base_margin} * 3);

    padding: var(--padding-100);
    background-color: white;
    min-width: min(1000px, var(--max-width)); 
    max-width: var(--max-width);
    margin-inline: auto;

}

footer {
    min-height: var(--padding-min); 
}
