/*
    Lobotomized owl selector courtesy of Heydon Pickering: https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
    Lays the foundation for consistent flow between all elements.
    Appened ':not(dialog)' pseudo-class to match idea from Comeau reset.
*/

* {
    & + &:not(dialog, body) { 
        margin-top: calc(#{$base_margin} * 1.5);
    }
}

body {
    background-color: var(--clr-secondary-lightest);
    display: grid;
    grid-template-rows: auto 1fr auto;
    direction: rtl;

    font-family: var(--ff-body);
    font-size: var(--fs-100); 

    & :is(header, article, section) > *:first-child:not(p, ul) {
        font-family: var(--ff-heading);
        color: var(--clr-primary);
        line-height: calc(#{$base_margin} + .75rem);

        &:is(h1) {
            font-size: var(--fs-300);
        }
    }

    &.en {
        direction: ltr;
    }
}

main {
    --max-width: calc(100% - #{$base_margin} * 3);

    padding: var(--padding-100);
    background-color: white;
    min-width: min(1000px, var(--max-width)); 
    max-width: var(--max-width);
    margin-inline: auto;

}

footer {
    background-color: var(--clr-primary);
    padding: var(--padding-100);
    color: white;

    display: grid;

    & .footer-nav {
        margin-top: 0;
        grid-row: 1 / span 1;

        & *[role="list"] {
           display: flex;
           gap: calc(#{$base_margin} + 1.5rem);
           align-items: center;

           & li {
               margin-top: 0;
           }
            
           & svg {
                max-width: 40px;
           }
        }
    }

    & > * {
        justify-self: center;
        gap: var(--padding-100);
    }

    & p {
        text-align: center; 
           
        & + p {
            margin-top: calc(#{$base_margin} * .25);
        }
    }

    & *:any-link {
        color: inherit;

       &:hover {
           color: var(--clr-accent-darker);
       }
    }

    @media screen and (width >= 700px) {
        grid-template-columns: fit-content auto min-content;
        
        & .footer-nav {
            grid-column: 3 / span 1;
        }

        & p {
            text-align: inherit;
        }
    }

}

article {

    & *:any-link {
       &:visited {
            color: var(--clr-accent-lighter);
       }

       &:hover {
           color: var(--clr-accent);
       }
    }

    & > header {

        time {
            display: inline-block;
            margin-top: calc(#{$base_margin} - var(--padding-050));
            font-family: var(--ff-body);
            font-size: var(--fs-090);
            color: black;
        } 

        & *:not(time) {
            color: var(--clr-primary);
        }
    }
} 

