/*
    Lobotomized owl selector courtesy of Heydon Pickering: https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
    Lays the foundation for consistent flow between all elements.
    Appened ':not(dialog)' pseudo-class to match idea from Comeau reset.
*/

:root {
    --h1-max: var(--fs-110);
    --h1-min: var(--fs-100);
    --body-max: var(--fs-060);
    --body-min: var(--fs-050);

    --flow-margin-multiplier: .9;
    --heading-line-height: 1.3;
    --base-line-height: var(--fs-030);

    --padding-min: var(--padding-010);
    --padding-max: var(--padding-100);

    @media screen and (width >= 370px) {

        --h1-max: var(--fs-180);
        --h1-min: var(--fs-120);
        --body-max: var(--fs-100);
        --body-min: var(--fs-080); 

        --flow-margin-multiplier: 1.3;
        --base-line-height: var(--fs-060);
        
        --padding-min: var(--padding-040);
    }

    @media screen and (width >= 600px) {
        --h1-max: var(--fs-230);
        --base-line-height: var(--fs-100);
    }
}

* {
    & + &:not(dialog, body) { 
        margin-top: calc(#{$base_margin} * var(--flow-margin-multiplier));
    }
}

body {
    background-color: var(--clr-secondary-lightest);
    display: grid;
    grid-template-rows: auto 1fr auto;
    direction: rtl;

    font-family: var(--ff-body);
    font-size: clamp(var(--body-min), 2vw, var(--body-max));

    & :is(header, article, section) > *:first-child:not(p, ul) {
        font-family: var(--ff-heading);
        color: var(--clr-primary);

        &:is(h1) {
            font-size: clamp(var(--h1-min), 7vw, var(--h1-max));
            line-height: calc(#{$base_margin} * var(--heading-line-height)); 
        }
    }

    &.en {
        direction: ltr;
    }
    
    & *:is(main) *:any-link {
       &:visited {
            color: var(--clr-accent-lighter);
        }

       &:hover {
           color: var(--clr-accent-darker);
       }
    }

    & *:any-link {
       color: inherit;
       display: inline-block;

       &:hover {
           color: var(--clr-accent-darker);
       }
    }
}


main {
    --max-width: calc(100% -var(--padding-min));
    --min-width: 1000px;

    padding: clamp(var(--padding-min), 1vw, var(--padding-max));
    background-color: white;
    width: min(var(--min-width), var(--max-width)); 
    margin-inline: auto;

}

footer {
    background-color: var(--clr-primary);
    padding: var(--padding-100);
    color: white;

    display: grid;

    & .footer-nav {
        margin-top: 0;
        grid-row: 1 / span 1;

        & *[role="list"] {
           display: flex;
           gap: calc(#{$base_margin} + 1.5rem);
           align-items: center;

           & li {
               margin-top: 0;
           }
            
           & svg {
                max-width: 40px;
           }
        }
    }

    & > * {
        justify-self: center;
        gap: var(--padding-100);
    }

    & p {
        text-align: center; 
           
        & + p {
            margin-top: calc(#{$base_margin} * .25);
        }
    }

    @media screen and (width >= 700px) {
        grid-template-columns: fit-content auto min-content;
        
        & .footer-nav {
            grid-column: 3 / span 1;
        }

        & p {
            text-align: inherit;
        }
    }

}

article {
    
    & > header {
        time {
            display: inline-block;
            margin-top: clamp(calc(#{$base_margin} * .15), 2vw, calc(#{$base_margin} * .25));
            font-family: var(--ff-body);
            color: black;
        } 

        & *:not(time) {
            color: var(--clr-primary);
        }
    }
} 

.nowrap {
    white-space: nowrap;
}
