// Base values
$base_margin: 1em;
$base_padding: 1rem;
$base_fontsize: 1rem;

// Maps
$theme_colors: (
    "orange": #ee7f2f,
    "yellow": #f7ba25,
    "green": #4f9c2e
);

:root {
    // Colors 
    @each $color, $value in $theme_colors {  
        @for $i from 1 through 9 {
           $color_percentage: 100 - $i * 10;
            
           --_#{$color}_light_0#{$color_percentage}: color-mix(white, #{$value} #{$color_percentage}%);
           --_#{$color}_dark_0#{$color_percentage}: color-mix(black, #{$value} #{$color_percentage}%);
        }
        
        --_#{$color}_100: #{$value}; 
    }

    --clr-primary: var(--_orange_100);
    --clr-primary-lightest: var(--_orange_light_010);

    --clr-accent: var(--_green_100);
    --clr-accent-dark: var(--_green_dark_080);
    --clr-accent-darker: var(--_green_dark_070);
    --clr-accent-lighter: var(--_green_light_070);

    --clr-secondary: var(--_yellow_100);
    --clr-secondary-lightest: var(--_yellow_light_010);

    // Padding and Font sizes
    @for $i from 10 through 90 {
        $factor: $i / 100;
        --padding-0#{$i}: calc(#{$base_padding} * #{$factor});
        --fs-0#{$i}: calc(#{$base_fontsize} * #{$factor});
    }

    @for $i from 10 through 30 {
        $str_val: $i * 10;
        $num_val: $str_val / 100;
            
        --fs-#{$str_val}: calc(#{$base_fontsize} * #{$num_val});
        --padding-#{$str_val}: calc(#{$base_padding} * #{$num_val});
    }

    // Font families
    --ff-heading: "Rubik", sans-serif;
    --ff-body: "Noto Serif Hebrew", serif;

    &:has(.en) {
        --ff-body: "Baskerville", serif;
    }


}

